<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guess words</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
  <div class="container">
    <h1>Guess words!</h1>

    {% if error %}
      <p class="text-danger">{{ error }}</p>
    {% endif %}

    <form role="form" action="{{ url_for('index') }}">
      <div class="form-group">
        <label for="exampleInputEmail1">Number of letters in word to guess</label>
        <input type="number" class="form-control" name="n-letters" placeholder="e.g. 5" value="{{ n_letters }}">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Available letters:</label>
        <input type="text" class="form-control" name="letters" placeholder="e.g. yasxagsue" value="{{ letters|default("", boolean=true) }}">
      </div>
      <button type="submit" class="btn btn-primary">Guess!</button>
    </form>

    {% if answers %}
      <h2>Possible Answers</h2>
      <ol>
      {% for answer in answers %}
        <li>{{ answer }}</li>
      {% endfor %}
      </ol>
    {% endif %}

  </div>
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    -->
  </body>
</html>
